
<div class="dropdown d-none d-lg-block" id="main-menu">
    <div class="d-flex d-flex align-items-center">
    <!-- LOGO -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1239.9 1239.9" class="my-auto logo-ca">
        <circle class="logo-circle" cx="619.9" cy="619.9" r="619.9"/>
        <path class="logo-text" d="M372.5 773.6c-30.8-16.7-54.9-39.9-72.3-69.4 -17.5-29.5-26.2-62.8-26.2-99.9 0-37.1 8.8-70.4 26.5-99.9 17.6-29.5 41.8-52.6 72.6-69.4 30.8-16.7 65.2-25.1 103.4-25.1 31 0 59.2 5.4 84.8 16.2 25.6 10.8 47.2 26.4 64.8 47l-45.3 42.7c-27.4-29.5-61-44.3-101-44.3 -25.9 0-49.1 5.7-69.6 17s-36.5 27.1-48.1 47.2c-11.5 20.2-17.3 43-17.3 68.6 0 25.6 5.8 48.4 17.3 68.6 11.5 20.2 27.5 35.9 48.1 47.2 20.5 11.3 43.7 17 69.6 17 40 0 73.6-14.9 101-44.8l45.3 43.2c-17.6 20.5-39.3 36.2-65 47 -25.7 10.8-54.1 16.2-85 16.2C437.8 798.7 403.3 790.3 372.5 773.6z"/>
        <path class="logo-text" d="M930.5 705.8h-189l-37.3 87.5h-72.3L802 415.4h69.1l170.6 377.9h-73.4L930.5 705.8zM907.3 650.7L836 485.5l-70.7 165.2H907.3z"/>
    </svg>
    <!-- LOGO -->

    <button aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle dropdown-menu-button no-caps" data-toggle="dropdown" id="dropdownMenuButton3" type="button">
        <span class="menu-text-cliente-procedura"></span><br/><span class="menu-text-campagna"></span>
    </button>


    <div aria-labelledby="dropdownMenuButton3" class="dropdown-menu menu-cascading" x-placement="bottom-start" style="position: absolute; transform: translate3d(58px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" id="main-menu-content">
        <div class="row no-gutters border-row align-items-center" id="menu-logo">
            <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3550.4 1308.5" class="logo-ca my-1">
                    <path class="logo-type" d="M1579 550.9c-25.1-13.6-44.7-32.5-59-56.6s-21.3-51.2-21.3-81.4 7.2-57.4 21.6-81.4c14.4-24 34.1-42.9 59.2-56.5 25.1-13.6 53.2-20.5 84.3-20.5 25.2 0 48.3 4.4 69.1 13.2 20.8 8.8 38.4 21.6 52.8 38.3l-37 34.8c-22.3-24.1-49.7-36.1-82.3-36.1 -21.1 0-40.1 4.6-56.8 13.9 -16.7 9.2-29.8 22.1-39.2 38.5 -9.4 16.4-14.1 35.1-14.1 55.9s4.7 39.5 14.1 55.9c9.4 16.4 22.4 29.3 39.2 38.5s35.6 13.9 56.8 13.9c32.6 0 60-12.2 82.3-36.5l37 35.2c-14.4 16.7-32.1 29.5-53 38.3 -21 8.8-44.1 13.2-69.3 13.2C1632.2 571.4 1604.1 564.6 1579 550.9z"/><path class="st0" d="M1835.4 240.4h55V567h-55V240.4z"/>
                    <path class="logo-type" d="M2003.9 554.7c-19.1-10.3-34-24.6-44.7-42.9 -10.7-18.3-16.1-39.1-16.1-62.3 0-23.2 5.3-43.9 16.1-62.1 10.7-18.2 25.6-32.4 44.7-42.7 19.1-10.3 40.5-15.4 64.3-15.4 24.1 0 45.6 5.1 64.7 15.4 19.1 10.3 34 24.5 44.7 42.7 10.7 18.2 16.1 38.9 16.1 62.1 0 23.2-5.4 43.9-16.1 62.3 -10.7 18.3-25.6 32.6-44.7 42.9 -19.1 10.3-40.6 15.4-64.7 15.4C2044.4 570.1 2023 564.9 2003.9 554.7zM2118.4 502.7c13.2-13.5 19.8-31.3 19.8-53.3 0-22-6.6-39.8-19.8-53.3 -13.2-13.5-29.9-20.2-50.2-20.2 -20.2 0-36.9 6.7-50 20.2 -13 13.5-19.6 31.3-19.6 53.3 0 22 6.5 39.8 19.6 53.3 13.1 13.5 29.7 20.2 50 20.2C2088.4 523 2105.2 516.2 2118.4 502.7z"/>
                    <path class="logo-type" d="M2473.9 332v235h-52.4v-29.9c-8.8 10.6-19.8 18.7-33 24.4 -13.2 5.7-27.4 8.6-42.7 8.6 -31.4 0-56.1-8.7-74.2-26.2 -18-17.5-27.1-43.3-27.1-77.7V332h55v126.7c0 21.1 4.8 36.9 14.3 47.3 9.5 10.4 23.1 15.6 40.7 15.6 19.6 0 35.3-6.1 46.9-18.3 11.6-12.2 17.4-29.7 17.4-52.6V332H2473.9z"/>
                    <path class="logo-type" d="M2776.3 240.4V567h-52.8v-30.4c-9.1 11.2-20.3 19.5-33.7 25.1 -13.4 5.6-28.1 8.4-44.2 8.4 -22.6 0-42.9-5-61-15 -18-10-32.2-24.1-42.5-42.5 -10.3-18.3-15.4-39.4-15.4-63.1 0-23.8 5.1-44.7 15.4-62.9 10.3-18.2 24.4-32.3 42.5-42.2 18-10 38.4-15 61-15 15.6 0 29.8 2.6 42.7 7.9 12.9 5.3 23.9 13.2 33 23.8V240.4H2776.3zM2687.8 514c10.6-6 18.9-14.6 25.1-25.7 6.2-11.1 9.2-24.1 9.2-38.7 0-14.7-3.1-27.6-9.2-38.7 -6.2-11.1-14.5-19.7-25.1-25.7 -10.6-6-22.4-9-35.6-9 -13.2 0-25.1 3-35.6 9s-18.9 14.6-25.1 25.7c-6.2 11.2-9.2 24.1-9.2 38.7 0 14.7 3.1 27.6 9.2 38.7 6.2 11.2 14.5 19.7 25.1 25.7 10.6 6 22.4 9 35.6 9C2665.4 523 2677.3 520 2687.8 514z"/>
                    <path class="logo-type" d="M1720.5 935.8h-154l-30.4 71.3h-59L1615.8 699h56.3l139.1 308.1h-59.9L1720.5 935.8zM1701.6 890.9l-58.1-134.7 -57.7 134.7H1701.6z"/><path class="st0" d="M2049.7 795.4c17.9 17.3 26.8 43 26.8 77v134.7h-55V879.5c0-20.5-4.8-36-14.5-46.4 -9.7-10.4-23.5-15.6-41.4-15.6 -20.2 0-36.2 6.1-48 18.3 -11.7 12.2-17.6 29.7-17.6 52.6v118.8h-55v-235h52.4v30.4c9.1-10.8 20.5-19.1 34.3-24.6 13.8-5.6 29.3-8.4 46.7-8.4C2008.1 769.4 2031.8 778.1 2049.7 795.4z"/>
                    <path class="logo-type" d="M2315.8 794.3c18.3 16.6 27.5 41.6 27.5 75v137.8h-51.9v-28.6c-6.8 10.3-16.4 18.1-28.8 23.5 -12.5 5.4-27.5 8.1-45.1 8.1 -17.6 0-33-3-46.2-9 -13.2-6-23.4-14.4-30.6-25.1 -7.2-10.7-10.8-22.8-10.8-36.3 0-21.1 7.9-38.1 23.5-50.8 15.7-12.8 40.4-19.2 74.2-19.2h60.7v-3.5c0-16.4-4.9-29-14.7-37.8 -9.8-8.8-24.4-13.2-43.8-13.2 -13.2 0-26.2 2.1-39 6.2 -12.8 4.1-23.5 9.8-32.3 17.2l-21.6-40.1c12.3-9.4 27.1-16.6 44.4-21.6 17.3-5 35.6-7.5 55-7.5C2270.9 769.4 2297.4 777.7 2315.8 794.3zM2265.6 960.7c10.7-6.3 18.3-15.3 22.7-27.1v-27.3h-56.8c-31.7 0-47.5 10.4-47.5 31.3 0 10 4 17.9 11.9 23.8 7.9 5.9 18.9 8.8 33 8.8C2242.6 970.1 2254.9 967 2265.6 960.7z"/>
                    <path class="logo-type" d="M2413.7 680.5h55v326.6h-55V680.5z"/>
                    <path class="logo-type" d="M2760.9 772.1l-110 253.9c-10.3 25.5-22.7 43.5-37.4 53.9 -14.7 10.4-32.4 15.6-53.3 15.6 -11.7 0-23.3-1.9-34.8-5.7 -11.4-3.8-20.8-9.1-28.2-15.8l22-40.5c5.3 5 11.5 8.9 18.7 11.9 7.2 2.9 14.4 4.4 21.8 4.4 9.7 0 17.7-2.5 24-7.5 6.3-5 12.1-13.4 17.4-25.1l4-9.3 -102.5-235.9h57.2l73.9 173.8 74.4-173.8H2760.9z"/>
                    <path class="logo-type" d="M2943.1 994.3c-6.5 5.3-14.3 9.2-23.6 11.9 -9.2 2.6-19 4-29.3 4 -25.8 0-45.8-6.7-59.9-20.2 -14.1-13.5-21.1-33.1-21.1-59V817.8h-38.7v-44h38.7v-53.7h55v53.7h62.9v44h-62.9v111.8c0 11.4 2.8 20.2 8.4 26.2 5.6 6 13.6 9 24.2 9 12.3 0 22.6-3.2 30.8-9.7L2943.1 994.3z"/>
                    <path class="logo-type" d="M2991.1 723.9c-6.8-6.3-10.1-14.2-10.1-23.5 0-9.4 3.4-17.2 10.1-23.5 6.7-6.3 15.1-9.5 25.1-9.5s18.3 3 25.1 9c6.7 6 10.1 13.6 10.1 22.7 0 9.7-3.3 17.8-9.9 24.4 -6.6 6.6-15 9.9-25.3 9.9C3006.2 733.4 2997.8 730.2 2991.1 723.9zM2988.4 772.1h55v235h-55V772.1z"/>
                    <path class="logo-type" d="M3157.8 994.8c-19.4-10.3-34.5-24.6-45.3-42.9 -10.9-18.3-16.3-39.1-16.3-62.3 0-23.2 5.4-43.9 16.3-62.1 10.9-18.2 25.9-32.4 45.1-42.7 19.2-10.3 41.1-15.4 65.8-15.4 23.2 0 43.5 4.7 61 14.1 17.4 9.4 30.6 22.9 39.4 40.5l-42.3 24.7c-6.7-10.9-15.2-19-25.3-24.4 -10.1-5.4-21.2-8.1-33.2-8.1 -20.5 0-37.6 6.7-51 20s-20.2 31.2-20.2 53.5 6.7 40.1 20 53.5c13.3 13.4 30.4 20 51.3 20 12 0 23.1-2.7 33.2-8.1s18.6-13.6 25.3-24.4l42.3 24.7c-9.1 17.6-22.4 31.2-39.8 40.7 -17.5 9.5-37.6 14.3-60.5 14.3C3199.1 1010.2 3177.2 1005 3157.8 994.8z"/>
                    <path class="logo-type" d="M3388 1002.7c-18.2-5-32.7-11.3-43.6-18.9l21.1-41.8c10.6 7 23.3 12.7 38.1 17s29.4 6.4 43.8 6.4c32.8 0 49.3-8.7 49.3-26 0-8.2-4.2-13.9-12.5-17.2 -8.4-3.2-21.8-6.3-40.3-9.3 -19.4-2.9-35.1-6.3-47.3-10.1 -12.2-3.8-22.7-10.5-31.7-20 -9-9.5-13.4-22.8-13.4-39.8 0-22.3 9.3-40.1 27.9-53.5 18.6-13.3 43.8-20 75.5-20 16.1 0 32.3 1.8 48.4 5.5 16.1 3.7 29.3 8.6 39.6 14.7l-21.1 41.8c-20-11.7-42.4-17.6-67.3-17.6 -16.1 0-28.4 2.4-36.7 7.3 -8.4 4.8-12.5 11.2-12.5 19.1 0 8.8 4.5 15 13.4 18.7 8.9 3.7 22.8 7.1 41.6 10.3 18.8 2.9 34.2 6.3 46.2 10.1 12 3.8 22.4 10.3 31 19.4 8.6 9.1 13 22 13 38.7 0 22-9.5 39.6-28.6 52.8 -19.1 13.2-45 19.8-77.9 19.8C3424.8 1010.2 3406.2 1007.7 3388 1002.7z"/>
                    <circle class="logo-circle" cx="654.2" cy="654.2" r="654.2"/>
                    <path class="logo-text" d="M353.1 832.8c-32.5-17.7-57.9-42.1-76.3-73.2 -18.4-31.1-27.6-66.3-27.6-105.4 0-39.1 9.3-74.3 27.9-105.4 18.6-31.1 44.2-55.5 76.6-73.2 32.5-17.7 68.8-26.5 109.1-26.5 32.7 0 62.5 5.7 89.4 17.1 27 11.4 49.8 27.9 68.4 49.6l-47.9 45c-28.9-31.1-64.4-46.7-106.5-46.7 -27.3 0-51.8 6-73.5 17.9 -21.6 12-38.5 28.6-50.7 49.9 -12.2 21.3-18.2 45.4-18.2 72.3 0 27 6.1 51.1 18.2 72.4 12.2 21.3 29.1 37.9 50.7 49.9 21.7 12 46.1 17.9 73.5 17.9 42.2 0 77.7-15.8 106.5-47.3l47.9 45.6c-18.6 21.7-41.5 38.2-68.7 49.6 -27.2 11.4-57.1 17.1-89.7 17.1C422 859.3 385.6 850.5 353.1 832.8z"/>
                    <path class="logo-text" d="M941.9 761.3H742.5l-39.3 92.3h-76.3l179.5-398.8h72.9l180 398.8h-77.5L941.9 761.3zM917.4 703.2l-75.2-174.3 -74.6 174.3H917.4z"/>
                </svg>
            </div>
        </div>

        <div class="row no-gutters text-left border-row" id="menu-titles">
            <div class="col bordered-column">
                <h5>Clienti</h5>
            </div>
            <div class="col bordered-column">
                <h5>Procedure</h5>
            </div>
            <div class="col">
                <h5>Campagne</h5>
            </div>
        </div>

        <div class="row no-gutters">

            <div class="col-4 bordered-column">
                <div class="nav flex-column nav-pills" id="menu" role="tablist" aria-orientation="vertical">
                    {{#each this}}
                    <a class="nav-link" id="{{@index}}_client_btn" data-toggle="pill" href="#{{@index}}_panel" role="tab" aria-controls="{{@index}}_panel" aria-selected="true">{{this.name}}</a>
                    {{/each}}
                </div>
            </div>


            <div class="col-8">
                <div class="tab-content" id="menu_tabs">

                    {{#each this}}
                    <div class="tab-pane fade show" id="{{@index}}_panel" role="tabpanel" aria-labelledby="{{@index}}">

                        <!-- LIVELLO PROCEDURA -->
                        <div class="row no-gutters">
                            <div class="col-6 bordered-column">
                                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                                    {{#each this.value}}
                                    <a class="nav-link" id="{{@../index}}_{{@index}}_procedura" data-toggle="pill" href="#{{@../index}}_{{@index}}_procedura_panel" role="tab" aria-controls="{{@../index}}_{{@index}}_procedura_panel" aria-selected="true">{{this.name}}</a>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="tab-content">
                                    {{#each this.value}}
                                    <div class="tab-pane fade show" id="{{@../index}}_{{@index}}_campaign_panel" role="tabpanel" aria-labelledby="{{@../index}}_{{@index}}_procedura">

                                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                                            {{#each this.value}}
                                                <a class="nav-link" id="{{@../../index}}_{{@../index}}_{{@index}}" href="#" role="button">{{this}}</a>
                                            {{/each}}
                                        </div>

                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>

    </div>
</div>


<div class="d-lg-none" id="mobile-menu">
    <ul class="nav flex-column flex-nowrap" >
        {{#each this}}
        <li class="nav-item mobile-clients-container">
            <a class="nav-link collapsed align-middle" href="#submenu{{@index}}" data-toggle="collapse" data-target="#submenu{{@index}}">{{this.name}}</a>
            <div class="collapse" id="submenu{{@index}}" aria-expanded="false">
                <ul class="flex-column nav">
                    {{#each this.value}}
                    <li class="nav-item">
                        <a class="nav-link align-middle collapsed pl-4" href="#submenu{{@../index}}sub{{@index}}" data-toggle="collapse" data-target="#submenu{{@../index}}sub{{@index}}">{{this.name}}</a>
                        <div class="collapse" id="submenu{{@../index}}sub{{@index}}" aria-expanded="false">
                            <ul class="flex-column nav">
                                {{#each this.value}}
                                <li class="nav-item">
                                    <a class="nav-link align-middle pl-5" href="#" id="m_{{@../../index}}_{{@../index}}_{{@index}}">
                                        <i class="fa fa-fw fa-clock-o"></i> {{this}}
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </li>
        {{/each}}
    </ul>
    <hr class="separator mt-0">
</div>











